@font-face {
  font-family: crayon;
  src: url(../../fonts/CrayonHandRegular2016Demo.ttf);
}

@font-face {
  font-family: amigo;
  src: url(../../fonts/AhoyAmigo-DEMO.ttf);
}

.modal-wrapper {
  width: 50vw;
  height: 50vh;
  transition: all 0.8s;
  position: absolute;
  transform: translate(50%, 50%);
  background-color: white;
  border: solid;
}

#how_to_div_modal {
  width: 90%;
  height: 100%;
  display: table;
  margin-top: 3vh;
  margin-right: auto;
  margin-left: auto;
}

#how_to_modal {
  display: table-cell;
  vertical-align: center;
  font-size: 5vh;
  font-family: crayon, "arial";
}

#drag_to_draw {
  display: table-cell;
  vertical-align: center;
  font-size: 3vh;
  font-family: crayon, "arial";
}

#press_div_modal {
  width: 80%;
  height: 100%;
  margin-top: 3.5vh;
  margin-right: auto;
  margin-left: auto;
  display: table;
}

#press_div_modal h3 {
  font-size: 3vh;
  font-family: crayon, "arial";
  display: table-cell;
  vertical-align: center;
}

#press_options_modal {
  font-family: amigo, "arial";
  font-size: 3vh;
  display: table-cell;
  vertical-align: center;
}
