.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 100px auto 0;
  transition: all 0.8s;
  width: 60%;
  position: absolute;
  transform: translate(50%, 50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-header {
  background: #263238;
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
  font-family: Calibri;
}

.modal-header h3 {
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
  background: #263238;
  color: white;
  font-family: Calibri;
}

.modal-footer {
  background: #263238;
  height: 35px;
  padding: 15px;
}
